@model WebAppDevExpress.Models.ErrorModel;

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Se presento un error en la App</h2>
<br />
<h3>@Model.Title</h3>
<p>
    Se presento un problema en el ambiente al procesar su petición, Error:  @Model.Error
</p>